@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-block" type="button" id="btnJob">Do job</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary" type="button" id="btnGetJob">Get job detail</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label id="lblNotify" style="display:none; color:red"></label>
    </div>
</div>
@section scripts{
    <script>
        var HomeIndex = {
            /**
            * SELECTORS OBJECT
            */
            SELECTORS: {
                btnJob: "#btnJob",
                lblNotify: "#lblNotify"
            },
            /**
            * Init function
            */
            init: function () {
                this.setUpEvent();
            },
            /**
            * Set up event
            */
            setUpEvent: function () {
                $(btnJob).click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/Home/RunJob?jobName=1&cron=25 0/1 * 1/1 * ? *',
                        success: function (result) {
                            if (result.code == 1) {
                                console.log(result);
                                $(lblNotify).html('Đã thêm job').fadeIn().fadeOut(10000);
                            }
                        },
                        error: function (err) {
                            alert('Có lỗi xảy ra');
                            console.log(err);
                        }
                    });
                });

                $(btnGetJob).click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/Home/GetJob',
                        success: function (result) {                             
                            $(lblNotify).html(JSON.stringify(result)).fadeIn(1000);
                        },
                        error: function (err) {
                            alert('Có lỗi xảy ra');
                            console.log(err);
                        }
                    });
                });
            }
        };

        /**
        * Page loaded
        */
        $(document).ready(function () {
            HomeIndex.init();
        });
    </script>
}